
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoggedLayout.cshtml";
}

<h2>Login</h2>
<input type="text" placeholder="Username" />
<input type="password" placeholder="Password" />
<a href="/pages/loginsubmit" class="btn btn-primary">Login</a>

