
@{
    ViewBag.Title = "Signup";
    Layout = "~/Views/Shared/_LoggedLayout.cshtml";
}

<h2>Signup</h2>
<input type="text" placeholder="Username" />
<input type="password" placeholder="Password" />
<a href="/pages/signupsubmit" class="btn btn-primary">Signup</a>
