@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>
<form action="" method="post">
    <input type="text" name="Name" class="form-control" placeholder="Name"/>
    <br />
    <input type="text" name="Gender" class="form-control" placeholder="Gender"/>
    <br />
    <input type="text" name="Profession" class="form-control" placeholder="Profession"/>
    <br />
    <input type="text" name="Dob" class="form-control" placeholder="Dob"/>
    <br />
    <input type="submit" value="Register" />
</form>