
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LoggedLayout.cshtml";
}

<h2>Index</h2>
@if (TempData["Msg"] != null) 
{ 
    <span class="alert alert-success">@TempData["Msg"]</span>
}

This is profile of Shadril Hassan Shifat

