
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div>
        <a href="/Dashboard/Index" class="btn btn-primary">Dashboard</a>
        <a href="/Dashboard/Myprofile" class="btn btn-success">My Profile</a>
        <a href="/Dashboard/settings" class="btn btn-danger">Settings</a>
        <a href="/Dashboard/Logout" class="btn btn-warning">Logout</a>
    </div>
    <div>
        @RenderBody()
    </div>
    <div>
        Copyright @@shadril238
    </div>
</body>
</html>
