
@{
    ViewBag.Title = "AddProduct";
}

<h2>AddProduct</h2>
<form action="" method="post">
    <input type="text" name="Name" class="form-control" placeholder="Name" />
    <br />
    <input type="text" name="Price" class="form-control" placeholder="Price" />
    <br />
    <input type="text" name="Quantity" class="form-control" placeholder="Quantity" />
    <br />
    <input type="text" name="CategoryId" class="form-control" placeholder="Category Id" />
    <br />
    <input type="submit" value="Add Product" />
</form>

