
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<h2>Login</h2>
<div>
    <input type="text" placeholder="Username" />
    <br />
    <br />
    <input type="password" placeholder="Password" />
    <br />
    <br />
    <a href="/pages/LoginSubmit" class="btn btn-primary">Login</a>
</div>

